@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f3f3f3;
    color: #333;
    font-family: 'Zen Kaku Gothic New', 'Noto Sans JP', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    @apply min-h-full;
  }
}

/* Custom scrollbar for gallery */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #fedc00;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
